[submodule "sources/ogc-wfs"]
	path = sources/ogc-wfs
	url = https://github.com/riboseinc/ogc-wfs
	branch = gh-pages
[submodule "sources/ogc-tcpnp"]
	path = sources/ogc-tcpnp
	url = https://github.com/riboseinc/ogc-tcpnp
	branch = gh-pages
