[submodule "repos/ogc-wfs"]
	path = repos/ogc-wfs
	url = https://github.com/riboseinc/ogc-wfs
	branch = gh-pages
[submodule "repos/ogc-tcpnp"]
	path = repos/ogc-tcpnp
	url = https://github.com/riboseinc/ogc-tcpnp
	branch = gh-pages
